.for {
  display: flex;
  flex-direction: column;
}

.for_border {
  position: relative;
  border: 3px solid #dedede;
  border-radius: 3px;
  background-color: #f4f4f4;
  padding: 30px;
  margin: 25px;
  margin-top: 40px;
  min-width: 200px;
  display: inline-block;
}

.for_title {
  position: absolute;
  width: 50px;
  height: 40px;
  font-size: 24px;
  top: -20px; /* 테두리 위에 위치 */
  left: 5px; /* 테두리 왼쪽에 위치 */
  background-color: #f4f4f4; /* 텍스트 위에 테두리가 있어도 글씨가 보이도록 배경색 지정 */
  padding: 0 5px; /* 좌우 여백 추가 */
}

.for_target-title {
  position: absolute;
  width: 100px;
  height: 50px;
  top: -40px; /* 테두리 위에 위치 */
  left: 65px; /* 테두리 왼쪽에 위치 */
  background-color: #f4f4f4; /* 텍스트 위에 테두리가 있어도 글씨가 보이도록 배경색 지정 */
  padding: 0 5px; /* 좌우 여백 추가 */
}
.cur-number {
  position: absolute;
  border: 1px solid black;
  border-radius: 3px;
  width: 15px;
  height: 15px;
  padding: 10px;
  margin: 10px;
  top: -30px; /* 테두리 위에 위치 */
  left: 45px; /* 테두리 왼쪽에 위치 */
  background-color: #515060; /* 텍스트 위에 테두리가 있어도 글씨가 보이도록 배경색 지정 */
  display: flex;
  align-items: center;
  justify-content: center;
}
.start_title {
  position: absolute;
  justify-content: center;
  width: 50px;
  height: 50px;
  top: -40px; /* 테두리 위에 위치 */
  left: 108px; /* 테두리 왼쪽에 위치 */
  background-color: #f4f4f4; /* 텍스트 위에 테두리가 있어도 글씨가 보이도록 배경색 지정 */
  padding: 0 5px; /* 좌우 여백 추가 */
}
.number_start {
  position: absolute;
  border: 2px solid black;
  border-radius: 3px;
  width: 15px;
  height: 15px;
  padding: 10px;
  margin: 10px;
  top: -30px; /* 테두리 위에 위치 */
  left: 100px; /* 테두리 왼쪽에 위치 */
  background-color: #515060; /* 텍스트 위에 테두리가 있어도 글씨가 보이도록 배경색 지정 */
  display: flex;
  align-items: center;
  justify-content: center;
}
.end_title {
  position: absolute;
  width: 50px;
  height: 50px;
  top: -40px; /* 테두리 위에 위치 */
  left: 160px; /* 테두리 왼쪽에 위치 */
  background-color: #f4f4f4; /* 텍스트 위에 테두리가 있어도 글씨가 보이도록 배경색 지정 */
  padding: 0 5px; /* 좌우 여백 추가 */
}
.end_number {
  position: absolute;
  border: 2px solid black;
  border-radius: 3px;
  width: 15px;
  height: 15px;
  padding: 10px;
  margin: 10px;
  top: -30px; /* 테두리 위에 위치 */
  left: 150px; /* 테두리 왼쪽에 위치 */
  background-color: #515060; /* 텍스트 위에 테두리가 있어도 글씨가 보이도록 배경색 지정 */
  display: flex;
  align-items: center;
  justify-content: center;
}
.step_title {
  position: absolute;
  top: -40px; /* 테두리 위에 위치 */
  left: 210px; /* 테두리 왼쪽에 위치 */
  background-color: #f4f4f4; /* 텍스트 위에 테두리가 있어도 글씨가 보이도록 배경색 지정 */
  padding: 0 5px; /* 좌우 여백 추가 */
}
.step_number {
  position: absolute;
  border: 2px solid black;
  border-radius: 3px;
  width: 15px;
  height: 15px;
  padding: 10px;
  margin: 10px;
  top: -30px; /* 테두리 위에 위치 */
  left: 203px; /* 테두리 왼쪽에 위치 */
  background-color: #515060; /* 텍스트 위에 테두리가 있어도 글씨가 보이도록 배경색 지정 */
  display: flex;
  align-items: center;
  justify-content: center;
}

.highlight {
  border-color: #8e2efa !important;
}
.highlight-number {
  background-color: #8e2efa !important;
}
