.for {
  display: flex;
  flex-direction: column;
}

.for_border {
  position: relative;
  border: 3px solid #dedede;
  border-radius: 3px;
  background-color: #f4f4f4;
  padding: 30px;
  margin: 25px;
  margin-top: 40px;
  min-width: 200px;

  max-width: 1000px;
  max-height: 1000px;
  display: inline-block;
}

.text-for {
  position: absolute;
  font-size: 24px;
  top: -10px; /* 테두리 위에 위치 */
  left: 5px; /* 테두리 왼쪽에 위치 */
  background-color: #f4f4f4; /* 텍스트 위에 테두리가 있어도 글씨가 보이도록 배경색 지정 */
  padding: 0 5px; /* 좌우 여백 추가 */
}

.text-target {
  position: absolute;
  top: -40px; /* 테두리 위에 위치 */
  left: 57px; /* 테두리 왼쪽에 위치 */
  background-color: #f4f4f4; /* 텍스트 위에 테두리가 있어도 글씨가 보이도록 배경색 지정 */
  padding: 0 5px; /* 좌우 여백 추가 */
}
.numberCur {
  position: absolute;
  border: 1px solid black;
  border-radius: 3px;
  width: 15px;
  height: 15px;
  padding: 10px;
  margin: 10px;
  top: -30px; /* 테두리 위에 위치 */
  left: 37px; /* 테두리 왼쪽에 위치 */
  background-color: #515060; /* 텍스트 위에 테두리가 있어도 글씨가 보이도록 배경색 지정 */
  display: flex;
  align-items: center;
  justify-content: center;
}
.text-start {
  position: absolute;
  justify-content: center;
  top: -40px; /* 테두리 위에 위치 */
  left: 108px; /* 테두리 왼쪽에 위치 */
  background-color: #f4f4f4; /* 텍스트 위에 테두리가 있어도 글씨가 보이도록 배경색 지정 */
  padding: 0 5px; /* 좌우 여백 추가 */
}
.numberStart {
  position: absolute;
  border: 2px solid black;
  border-radius: 3px;
  width: 15px;
  height: 15px;
  padding: 10px;
  margin: 10px;
  top: -30px; /* 테두리 위에 위치 */
  left: 100px; /* 테두리 왼쪽에 위치 */
  background-color: #515060; /* 텍스트 위에 테두리가 있어도 글씨가 보이도록 배경색 지정 */
  display: flex;
  align-items: center;
  justify-content: center;
}
.text-end {
  position: absolute;
  top: -40px; /* 테두리 위에 위치 */
  left: 160px; /* 테두리 왼쪽에 위치 */
  background-color: #f4f4f4; /* 텍스트 위에 테두리가 있어도 글씨가 보이도록 배경색 지정 */
  padding: 0 5px; /* 좌우 여백 추가 */
}
.numberEnd {
  position: absolute;
  border: 2px solid black;
  border-radius: 3px;
  width: 15px;
  height: 15px;
  padding: 10px;
  margin: 10px;
  top: -30px; /* 테두리 위에 위치 */
  left: 150px; /* 테두리 왼쪽에 위치 */
  background-color: #515060; /* 텍스트 위에 테두리가 있어도 글씨가 보이도록 배경색 지정 */
  display: flex;
  align-items: center;
  justify-content: center;
}
.textStep {
  position: absolute;
  top: -40px; /* 테두리 위에 위치 */
  left: 210px; /* 테두리 왼쪽에 위치 */
  background-color: #f4f4f4; /* 텍스트 위에 테두리가 있어도 글씨가 보이도록 배경색 지정 */
  padding: 0 5px; /* 좌우 여백 추가 */
}
.numberStep {
  position: absolute;
  border: 2px solid black;
  border-radius: 3px;
  width: 15px;
  height: 15px;
  padding: 10px;
  margin: 10px;
  top: -30px; /* 테두리 위에 위치 */
  left: 203px; /* 테두리 왼쪽에 위치 */
  background-color: #515060; /* 텍스트 위에 테두리가 있어도 글씨가 보이도록 배경색 지정 */
  display: flex;
  align-items: center;
  justify-content: center;
}
.highlight {
  border: 2px solid #8e2efa;
  border-width: thick;
}
.highlight-number {
  background-color: #8e2efa;
}
