@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

.scrollContainer {
  height: 300px; /* 원하는 높이로 조절 가능 */
  overflow-y: auto;
}

.consoleText {
  display: flex;
  flex: 1;
  color: black;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow: auto;
}
.console-wrapper {
  height: 100%;
  display: flex;
  flex: 1;
}
.console-print {
  display: flex;
  flex: 1;
  margin: 0;
  padding: 0;
}
.view-section-title {
  width: 100%;
  padding: 13px 24px;
  background-color: #fcfcfc;
  border-bottom: 1px solid var(--gray01);
  font-weight: 600;
  padding-right: 0px;
}
.view-section1-2 {
  display: flex;
  background-color: white;
  flex: 1;
  flex-direction: column;
}
.view-section1-2 .view-data {
  padding: 0px 24px 24px 24px;
  box-sizing: border-box; /* 패딩과 보더를 포함하여 너비 계산 */
}
.view-data {
  display: flex;
  flex: 1;
  background-color: white;
  position: relative;

  overflow-y: auto;
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}
.input-area {
  border: none; /* 테두리 제거 */
  outline: none; /* 클릭 시 나타나는 아웃라인 제거 */
  resize: none; /* 사용자가 크기 조정 못하게 고정 */
  overflow: hidden;
  width: 100%; /* 너비 100% */
  background-color: rgb(255, 255, 255);
  padding: 10px 24px;
  border-bottom: 1px solid var(--gray01);
}
.input-error {
  box-shadow: inset 0 0 16px rgba(72, 102, 255, 0.2);
}
