@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

.scrollContainer {
  height: 300px; /* 원하는 높이로 조절 가능 */
  overflow-y: auto;
}

.consoleText {
  color: black;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.view-section-title {
  width: 100%;
  padding: 13px 24px;
  background-color: #fcfcfc;
  border-bottom: 1px solid var(--gray01);
  font-weight: 600;
  padding-right: 0px;
}
.view-section1-2 .view-data {
  padding: 24px;
  box-sizing: border-box; /* 패딩과 보더를 포함하여 너비 계산 */
}
.view-data {
  background-color: white;
  position: relative;
  height: 100%;
  overflow-y: auto;
  height: calc(100% - 51px);
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}
.input-area {
  border: none; /* 테두리 제거 */
  outline: none; /* 클릭 시 나타나는 아웃라인 제거 */
  resize: none; /* 사용자가 크기 조정 못하게 고정 */
}
