@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@700&display=swap");
.wrapper {
  display: flex;
  align-items: center;
}
.var-data {
  display: flex;
  align-items: center;
  gap: 1px;
  background-color: #565656;
  padding: 0px 10px;
  margin: 0px 1px;
  border-radius: 5px;
}
span {
  margin-bottom: 4px;
  display: inline-block;
}
.var-data > span {
  display: inline-block;
  min-width: 10px;
  border-radius: 4px;
  color: #fff;
  padding: 8px 6px;

  position: relative;
}
.index {
  color: rgba(24, 24, 24, 0.3);
  text-align: center;
}
.align-left {
  margin-top: 20px;
  width: 100%;
  box-sizing: border-box;

  text-align: left;
}
.highlight {
  background-color: #364fce;
}
