@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: black;
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

.scrollContainer {
  height: 300px; /* 원하는 높이로 조절 가능 */
  overflow-y: auto;
}

.consoleText {
  color: black;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.view-section-title {
  width: 100%;
  padding: 13px 24px;
  background-color: #fcfcfc;
  border-bottom: 1px solid var(--gray01);
  font-weight: 600;
}
.view-section1-2 .view-data {
  padding: 24px;
}
.view-data {
  position: relative;
  height: 100%;
  overflow-y: auto;
  height: calc(100% - 51px);
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}
