@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@700&display=swap");
.input {
  margin: 24px;
  margin-top: 40px;
}
.input-text {
  font-size: 16px;
  font-weight: 700;
  margin-top: 24px;
}
