.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}
.s__select {
  -webkit-appearance: none; /* for chrome */
  -moz-appearance: none; /*for firefox*/
  appearance: none;
  background: url("/image/icon_down_arrow.svg") no-repeat 85% 50%/16px auto;
  background-color: #fff;
  padding: 12px 54px 12px 18px;
  border-radius: 5px;
  border: 1px solid var(--gray01);
  font-size: 16px;
  min-height: 50px;
  margin: 2px;
}
.top-btns .s__select {
  width: 100px;
  min-height: 35px;
  padding: 5px 16px;
}
.s__select::-ms-expand {
  display: none; /*for IE10,11*/
}
.playcode-btn {
  background-color: var(--blue);
  color: var(--white);
  width: 112px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  flex-direction: row;
  border-radius: 4px;
}
.view-btn {
  background-color: #45b99d;
  color: var(--white);
  width: 94px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  flex-direction: row;
  border-radius: 4px;
}
.top-btns {
  display: flex;
  align-items: center;
  padding: 13px 24px;
  border-bottom: 1px solid var(--gray01);
  gap: 40px;
}
.top-btns > div {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top-btns > div > div {
  display: flex;
  align-items: center;
  justify-content: center;
}
