.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.leftSection {
  display: flex;
  overflow: auto;
}

.rightSection {
  display: flex;
  overflow: auto;
}

.resizer {
  width: 10px;
  cursor: col-resize;
  background-color: #ccc;
  z-index: 1;
  height: 100%; /* 높이 추가 */
}

.header {
  width: 100%;
  background-color: #4a4a4a;
  height: 40px;
}
.button {
  position: relative;
  top: 2px;
  right: 100px;
  background-color: #4a4a4a;
  cursor: pointer;
}
