.elif {
  display: flex;
  flex-direction: column;
}

.elif_border {
  position: relative;
  border: 3px solid #dedede;
  border-radius: 3px;
  background-color: #f4f4f4;
  padding: 30px;
  margin: 25px;
  margin-top: 30px;
  min-width: 200px;
  display: inline-block;
}

.elif_title {
  position: absolute;
  left: 10px;
  top: -20px;
  font-size: 24px;
  text-align: center;
  width: fit-content;
  background-color: #f4f4f4; /* 텍스트 위에 테두리가 있어도 글씨가 보이도록 배경색 지정 */
  padding: 0 5px; /* 좌우 여백 추가 */
}
.elif_expr {
  position: absolute;
  left: 65px;
  top: -15px;
  border: 3px solid #dedede;
  border-radius: 3px;
  background-color: #f4f4f4;
  width: fit-content;
  padding: 3px 10px;
}
.highlight {
  border: 2px solid #8e2efa;
}

.false {
  border: 2px solid #ff0000;
}
.true-expr {
  color: #8e2efa;
}
.false-expr {
  color: #ff0000;
}
