@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@700&display=swap");
.highlight {
  background-color: #364fce;
}
.return-data {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 24px;
}
.return-data::before {
  content: "";
  background: url(/image/icon_return.svg) no-repeat;
  width: 75px;
  height: 29px;
  display: flex;
  align-items: center;
  color: #fff;
  justify-content: center;
}
.return-data p {
  display: inline-block;
  min-width: 10px;
  border-radius: 4px;
  color: #fff;
  padding: 10px 15px;
  position: relative;
}
.return-data p.data-true {
  background: var(--blue01, #4866ff);
}
.return-data p.data-false {
  background: #ff7173;
}
