/* Resizable.module.css */
.container {
  display: flex;

  width: 100%;
  height: 100%;
}

.leftSection {
  display: flex;
  overflow: auto;
}

.rightSection {
  display: flex;
  overflow: auto;
}

.resizer {
  width: 10px;
  cursor: col-resize;
  background-color: #ccc;
  z-index: 1;
  height: 100%;
}
