/* IDE.module.css */
.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  height: 100vh;
  width: 100%;
  box-sizing: border-box;
}

.editorContainer {
  width: 100%;
  max-width: 1200px; /* 최대 너비 설정 */
  padding: 1rem;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  height: 80vh; /* 컨테이너 높이 설정 */
  box-sizing: border-box;
}

.form {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.editorWrapper {
  flex-grow: 1;
  overflow: hidden;
  position: relative;
}

.editor {
  width: 100%;
  height: 100%;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  padding-top: 0.5rem;
}

.button {
  display: inline-flex;
  align-items: center;
  border-radius: 0.375rem;
  background-color: #4f46e5;
  padding: 0.5rem 0.75rem;
  font-size: 0.875rem;
  font-weight: 600;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #4338ca;
}
