.print_box {
  display: flex;
  flex-direction: column;
}

.print_border {
  position: relative;
  border: 2px solid #dedede;
  border-radius: 3px;
  padding: 15px;
  margin: 15px;
  max-width: 1000px;
  max-height: 1000px;
  display: inline-block;
}

.print_text {
  position: absolute;

  top: -10px; /* 테두리 위에 위치 */
  left: 5px; /* 테두리 왼쪽에 위치 */
  background-color: #f4f4f4; /* 텍스트 위에 테두리가 있어도 글씨가 보이도록 배경색 지정 */
  padding: 0 5px; /* 좌우 여백 추가 */
}
.textOutput {
  font-size: 24px;
}

.font_highlight {
  color: #8e2efa;
  font-weight: bolder;
  font-size: 36px;
}
.highlight {
  border: 2px solid #8e2efa;
  border-width: thick;
}
