.bg-gray {
  background-color: var(--bg02);
  height: 100%;
}
.color-blue {
  color: var(--blue);
}
.fz24 {
  font-size: 24px;
}
.fz20 {
  font-size: 20px;
}
.fz16 {
  font-size: 16px;
}
.fz14 {
  font-size: 14px;
}
button:hover {
  filter: brightness(0.9);
}
.login-wrap {
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  height: 90.5vh;
}
.login-wrap > img {
  height: 200px;
}
.login-box {
  padding: 24px;
  border-radius: 16px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}
.login-box input {
  width: 400px;
}
.login-box .border-red {
  border: 1px solid rgb(250, 82, 82);
}
.login-box .input-text-red {
  color: rgb(250, 82, 82);
}
.login-box .border-green {
  border: 1px solid rgb(0, 196, 113);
}
.login-box .input-text-green {
  color: rgb(0, 196, 113);
}
input:not([type="file"]) {
  box-sizing: border-box;
  padding: 0 16px;
  height: 51px;
  border: 1px solid var(--gray01);
  border-radius: 4px;
}
input:not([type="file"])::placeholder {
  color: #c2c2c2;
}
.input-wraper {
  position: relative;
}
.input-wraper .input-right-section {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  height: 51px;
  width: 2.75rem;
}
.input-wraper img {
  height: 1.1875rem;
  width: 1.1875rem;
}
.color-blue {
  color: var(--blue);
}
.login-btn {
  background-color: var(--bg02);
  padding: 8px 16px;
  border-radius: 4px;
  color: var(--black);
  margin-right: 12px;
}
.blue-btn {
  background-color: var(--blue);
  color: var(--white);
  padding: 14px;
  height: 50px;
  border-radius: 4px;
}
.blue-btn:disabled {
  background-color: #e2e2e2;
  color: #a1a1a1;
  pointer-events: none; /* Disables hover and click events */
}
.sns-btn {
  height: 50px;
  padding: 18px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  font-weight: 700;
}
.sns-btn p {
  flex: 1;
}
.sns-btn.naver {
  background-color: #04c75b;
}
.sns-btn.goggle {
  border: 1px solid #f2f2f2;
}
input[type="checkbox"] {
  display: block;
}
.s__checkbox-wrap {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.s__checkbox {
  display: flex;
  align-items: center;
}
.s__checkbox input {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0 none;
}
.s__checkbox input:focus-visible ~ label {
  outline: 2px solid var(--black);
}
.s__checkbox input + label {
  height: 24px;
  display: block;
  background: url(/image/icon_checkbox_off.svg) no-repeat;
  background-size: contain;
  cursor: pointer;
  font-size: 16px;
  padding-left: 32px;
  border-radius: 4px;
}
.s__checkbox input:disabled + label {
  background: url(/image/icon_checkbox_off_disabled.svg) no-repeat;
  background-size: contain;
}
.s__checkbox input:checked + label {
  background: url(/image/icon_checkbox_on.svg) no-repeat;
  background-size: contain;
}
.s__checkbox input:checked:disabled + label {
  background: url(/image/icon_checkbox_on_disabled.svg) no-repeat;
  background-size: contain;
}
.guide-section {
  display: flex;
  gap: 0.25rem;
  flex-direction: column;
  margin-bottom: 20px;
}
.guide-section .guide {
  width: 100%;
  display: flex;
  gap: 0.5rem;
  -webkit-box-align: center;
  align-items: center;
}
.guide-section .guide img {
  width: 16px;
  height: 16px;
}
.guide-section .guide .text-red {
  color: rgb(250, 82, 82);
}
.guide-section .guide .text-green {
  color: rgb(0, 196, 113);
}

.login-box .s__checkbox-wrap {
  flex-direction: column;
  align-items: flex-start;
}
.login-box input:focus-visible {
  outline: none;
}
.s__checkbox:nth-child(1) {
  width: 100%;
  padding-bottom: 16px;
  margin-bottom: 16px;
  border-bottom: 1px solid #eaeaea;
}
.s__checkbox-wrap button {
  width: auto;
  text-decoration: underline;
}
.view-section2-1 > .gutter.gutter-vertical {
  border-top: 1px solid var(--gray01);
  border-bottom: none;
  background-image: none;
  background-color: #fdfdfe;
  height: 10px !important;
}
.view-section2-1 .view-data,
.view-section2-2 .view-data {
  box-sizing: border-box; /* 패딩과 보더를 포함하여 너비 계산 */
  background-color: #fdfdfe;
  padding: 16px;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
}

.view-section-title {
  width: 100%;
  padding: 13px 24px;
  background-color: #fcfcfc;
  border-bottom: 1px solid var(--gray01);
  font-weight: 600;
}
.data-name {
  font-weight: 600;
  width: fit-content;
  display: inline-block;
  padding: 3px 8px;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #f4f4f4;
  font-size: 14px;
  margin-bottom: 24px;
}
.view-data {
  position: relative;
  height: 100%;
  overflow-y: auto;
}
.split-contatiner {
  border-top: 1px solid var(--gray01);
  border-bottom: none;
  background-image: none;
  background-color: #fdfdfe;
  height: 10px !important;
}
var-list {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-left: 8px;
}
.var-list li {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.code-flow {
  border: 1px solid var(--gray01);
  border-radius: 8px;
  padding: 24px;
  display: inline-block;
  position: relative;
  margin-top: 40px;
}
.code-flow + .code-flow {
  margin-top: 60px !important;
}
.highlight-border {
  border-color: #364fce !important;
}
.highlight-number {
  background-color: #364fce !important;
}
.highlight-text {
  color: #364fce !important;
}

.code-flow-var {
  display: flex;
  align-items: center;
}
.code-flow-var div {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.code-flow-var div span:not(.code-var-title) {
  background-color: #565656;
  border-radius: 4px;
  background-color: #565656;
  color: #fff;
  padding: 8px 15px;
  min-width: 10px;
  position: relative;
}
.code-flow-var div span.code-var-title {
  margin-bottom: 3px;
  font-size: 14px;
}
.code-flow-title-wrap {
  display: flex;
  align-items: flex-end;
  position: absolute;
  top: -22px;
  left: 12px;
}
.code-flow-title {
  font-size: 20px;
  font-family: "GmarketSans";
  font-weight: 500;
  padding: 0 6px;
  min-width: 38px;
  text-align: center;
  margin-bottom: 6px;
  margin-right: 12px;
  position: relative;
}
.code-flow {
  min-width: 560px;
  background-color: #fff;
}
.code-flow .code-flow {
  min-width: 480px;
  background-color: #fdfdfe;
}
.code-flow .code-flow .code-flow {
  min-width: 400px;
  background-color: #fbfbfe;
}
.code-flow .code-flow .code-flow .code-flow {
  min-width: 320px;
  background-color: #f9f9fd;
}
.code-flow .code-flow .code-flow .code-flow .code-flow {
  min-width: 240px;
  background-color: #f5f5fc;
}
.code-flow-title::before {
  position: absolute;
  content: "";
  bottom: 0;
  width: 100%;
  height: 22px;
  left: 0;
}
.code-flow-title span {
  position: relative;
}
.code-flow .code-flow-title-wrap > .code-flow-title::before {
  background-color: #fff;
}
.code-flow .code-flow .code-flow-title-wrap > .code-flow-title::before {
  background-color: #fdfdfe;
}
.code-flow .code-flow .code-flow .code-flow-title-wrap > .code-flow-title::before {
  background-color: #fbfbfe;
}
.code-flow .code-flow .code-flow .code-flow .code-flow-title-wrap > .code-flow-title::before {
  background-color: #f9f9fd;
}
.code-flow .code-flow .code-flow .code-flow .code-flow .code-flow-title-wrap > .code-flow-title::before {
  background-color: #f5f5fc;
}

.code-flow-for.code-flow {
  margin-top: 60px;
}
.code-flow-for.code-flow .code-flow-for {
  margin-top: 48px;
}
.code-flow-for > .code-flow-title-wrap {
  top: -46px;
}
.code-flow-for > .code-flow-title-wrap > .code-flow-var {
  gap: 4px;
}
.code-flow-for > .code-flow-title-wrap > .code-flow-var > div:nth-child(1) {
  margin-right: 20px;
}
.code-flow {
  margin-top: 40px;
}
.code-flow-text > .code-flow-title-wrap {
  top: -15px;
}
.code-flow.code-flow-text {
  margin-top: 32px;
}
.view-section2-2 .view-data > div {
  display: flex;
  position: relative;
  flex-direction: column;
}
.code-flow > .code-flow-data:nth-child(2) {
  margin-top: 12px;
}
.code-flow-text > .code-flow-data:nth-child(2) {
  margin-top: 0;
}
.code-flow-for > .code-flow-data:nth-child(2) {
  margin-top: 12px;
}
.var-data span.on_active,
.code-flow-var span.on_active {
  background-color: #364fce !important;
  color: #fff !important;
}
.code-target {
  display: flex;
  align-items: flex-start;
  position: absolute;
  transition: all 0.3s;
}
.code-target img {
  margin-top: 11px;
  margin-right: 8px;
}

/* popup */
@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes popupDimbg {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.4;
  }
}
.scroll-off {
  overflow: hidden;
}
.screen-out {
  position: absolute !important;
  width: 0 !important;
  height: 0 !important;
  line-height: 0 !important;
  overflow: hidden !important;
  text-indent: -9999px !important;
}
.popup__section {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2000;
}
.popup__section.is-open {
  display: block;
}
.popup__dim {
  background: #000;
  opacity: 0;
}
.is-open .popup__dim {
  opacity: 0.4;
  animation: popupDimbg 0.5s;
}
.popup__inner,
.popup__dim {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.popup__inner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup__container__group {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 700px;
  max-width: 980px;
  max-height: 60%;
  background: #fff;
  border-radius: 20px;
  overflow: hidden;
  animation: fade 0.5s;
}
.popup__container__group {
  max-height: 80%;
}
.popup__header__group {
  height: 77px;
  padding: 24px 24px 20px 24px;
  flex-shrink: 0;
  border-bottom: 1px solid #eaeaea;
}
.popup__header__title {
  font-size: 20px;
  font-weight: 700;
  color: #222;
  line-height: 29px;
  letter-spacing: -0.8px;
}
.popup__header__close {
  width: 24px;
  height: 24px;
  background: url(/image/icon_close.svg) no-repeat center/contain;
  position: absolute;
  top: 24px;
  right: 24px;
}
.popup__contents__group {
  position: relative;
  width: 100%;
  max-height: 800px;
  margin: 0 auto;
  padding: 24px 24px 40px 24px;
  overflow-y: auto;
}
.popup__button__group {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  flex-shrink: 0;
  height: 56px;
}
.popup__button__group > button + button {
  margin-left: 10px;
}
.alert {
  display: none;
  margin-top: 10px;
  margin-left: 25px;
  color: #f04c23;
  font-size: 18px;
  line-height: 1;
}
.alert.on,
.alert2.on {
  display: block;
}

.popup-sm .popup__container__group {
  max-width: 400px;
}
.popup__contents__group ul,
.popup__contents__group li {
  list-style: inherit;
  margin: inherit;
  padding: inherit;
}

.code-target {
  display: flex;
  align-items: flex-start;
  position: absolute;
  transition: all 0.3s;
  z-index: 9999;
}
.code-target img {
  margin-top: 11px;
  margin-right: 8px;
}
/* 코드 흐름 시각화의 자료구조 왼쪽 정렬 */

.group-wrap {
  padding: 13px 32px;
  background: linear-gradient(to top, #4866ff, #607aff);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
  height: 77px;
}
.group-title {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
}
.group-left {
  display: flex;
  gap: 12px;
  align-items: center;
}
.title-left h3 {
  font-size: 24px;
  font-weight: 700;
}
.section-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--gray01);
  padding: 16px 0;
  margin-bottom: 24px;
}
.progress-info {
  border: 1px solid #f0f0f0;
  background-color: #f9fafb;
  border-radius: 8px;
  padding: 32px;
  margin-bottom: 40px;
}
.progress-date-data {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.progress-date-data input[type="date"] {
  border: none;
  background: #f9fafb;
  font-size: 20px;
  width: 118px;
  padding-left: 0;
  padding-right: 0;
}
.progress-date-data input[type="date"]::-webkit-calendar-picker-indicator {
  width: 100%;
  opacity: 0;
}
.progress-date {
  position: relative;
  display: inline-block;
}
.date-label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  font-size: 20px;
  font-weight: 500;
}
.progress-data {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}
.progress-data li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  padding: 18px;
  border-radius: 8px;
  background-color: #fff;
  filter: drop-shadow(0 4px 16px rgba(0, 70, 155, 0.05));
}
.progress-data li div {
  display: flex;
  gap: 24px;
  align-items: center;
}
.progress-data li div p:nth-child(1) {
  font-size: 14px;
  font-weight: 500;
}
.progress-data li div p:nth-child(2) {
  font-size: 24px;
  font-weight: 700;
}
.section-data {
  display: grid;
  gap: 20px;
  margin-bottom: 40px;
}
.section-data01 {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-bottom: 130px;
}
.section-data01 li a {
  padding: 30px 24px;
  border-radius: 8px;
  border: 1px solid var(--gray01);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section-data01 li div:nth-child(1) p {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 8px;
}
.section-data01 li div:nth-child(1) span {
  font-weight: 400;
  color: #c2c2c2;
}
.section-data01 li div:nth-child(2) {
  display: flex;
  align-items: center;
  width: 120px;
  border-radius: 12px;
}
.section-data01 li div:nth-child(2)::before {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
}
.section-data01 li div:nth-child(2) p {
  font-weight: 600;
  font-size: 16px;
  flex: 1;
  text-align: center;
  margin-right: 16px;
}
.section-empty-progress {
  display: flex;
  justify-content: center;
  margin: 100px 0 100px 0;
}
.progress-success {
  background-color: #ebf4ff;
}
.progress-success:before {
  background: url(/image/progress03.svg);
}
.progress-success p {
  color: #308dff;
}
.progress-fail {
  background-color: #ffedeb;
}
.progress-fail:before {
  background: url(/image/progress04.svg);
}

.progress-fail p {
  color: #ff5b49;
}

.progress-not {
  background-color: #f3f3f3;
}
.progress-not:before {
  background: url(/image/progress02.svg);
}

.progress-not p {
  color: #848484;
}

/* 과제 */
.bg {
  background: #f9fafb;
  height: 100%;
}
.classroom-right {
  display: flex;
  align-items: center;
}
.title-right button {
  padding: 9.5px 24px;
  border-radius: 6px;
  background-color: var(--blue);
  color: #fff;
  font-size: 16px;
  border-width: 700px;
  margin-left: 4px;
}
.section-data02 {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
@media screen and (max-width: 1212px) {
  .section-data02 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.section-data02 > li {
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid var(--gray02);
  min-width: 258px;
}
.section-data02-img-wrap {
  height: 190px;
  overflow: hidden;
  position: relative;
}
.section-data02-img-wrap img {
  width: 100%;
  position: absolute;
  transition: all 0.6s;
}
.section-data02 li:hover .section-data02-img-wrap img {
  transform: scale(1.05);
}
.data02-name {
  padding: 22px 24px 34px 24px;
}
.data02-name > p {
  padding-bottom: 22px;
  margin-bottom: 22px;
  border-bottom: 1px solid var(--gray02);
  font-size: 18px;
  font-weight: 600;
}
.data02-name div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.data02-name div p:nth-child(1) {
  font-size: 14px;
  font-weight: 400;
}
.data02-name div p:nth-child(2) {
  color: var(--blue);
  font-size: 18px;
  font-weight: 600;
}
.data02-name div + div {
  margin-top: 8px;
}
.timeover .section-data02-img-wrap::before {
  content: "제출만료";
  display: block;
  position: absolute;
  left: 12px;
  top: 12px;
  z-index: 9;
  background-color: #f3f3f3;
  color: #848484;
  border: 1px solid var(--gray01);
  border-radius: 4px;
  padding: 6px 15px;
}
.timeover .data02-name div p,
.timeover .data02-name > p {
  color: #dddee4;
}

/* 설정 */
.section-data03 {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
@media screen and (max-width: 1100px) {
  .section-data03 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.section-data03 li {
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid var(--gray02);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 24px;
  background-color: #fff;
}
.section-data03 li div {
  display: flex;
  flex-direction: column;
}
.data03-name p {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 8px;
}
.data03-name span {
  font-weight: 300;
  color: #98a8b8;
}
.data03-btns {
  height: 100%;
  justify-content: flex-end;
  gap: 8px;
}
.data03-btns button {
  width: 60px;
  height: 37px;
  font-weight: 600;
  border-radius: 4px;
}
.data03-btns .blue {
  color: #308dff;
  background-color: #ebf4ff;
}
.data03-btns .red {
  color: #ff5b49;
  background-color: #ffedeb;
}
.search-wrap {
  background-color: #fff;
  display: flex;
  align-items: center;
  border-radius: 4px;
  border: 1px solid var(--gray01);
  width: 300px;
}
.search-wrap * {
  border: none !important;
  background-color: initial !important;
}
.search-wrap input {
  flex: 1;
  height: 41px;
  padding: 4px 16px 4px 16px;
}
.search-wrap button {
  width: 24px;
  height: 24px;
  padding: 0;
  margin-right: 8px;
}
.right-btns {
  display: flex;
  justify-content: flex-end;
}
.right-btns button {
  height: 43px;
  padding: 10px 16px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.right-btns .red {
  background-color: #ff5b49;
  color: #fff;
  font-weight: 600;
}
.group-link {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
}
.link-name {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ebf4ff;
  color: var(--blue);
  gap: 6px;
  height: 51px;
  width: 120px;
}
.invite-wrap {
  background-color: #fff;
  display: flex;
  align-items: center;
  border-radius: 4px;
  border: 1px solid var(--gray01);
  width: 400px;
}
.invite-button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--blue);
  gap: 6px;
  height: 51px;
  width: 100px;
}
.invite-input {
  padding: 0 12px 0 24px;
  border: none !important;
  width: 300px;
}
.link-data {
  padding: 0 12px 0 24px;
}
.group-link button {
  margin-right: 16px;
}

/* 그룹 */
header .group-btn {
  border-radius: 4px;
  background-color: var(--blue);
  color: #fff;
  font-weight: 600;
  margin-right: 24px;
  padding: 8px 16px;
}
.group-copywriting {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 74px 0 83px 0;
  background: linear-gradient(to right, #4866ff, #738aff);
}
.group-copywriting img {
  position: absolute;
  right: 171px;
  bottom: -81px;
}
.group-copywriting * {
  color: #fff;
}
.group-copywriting p {
  font-size: 15px;
  font-weight: 800;
  margin-bottom: 5px;
}
.group-copywriting h2 {
  font-weight: 800;
  font-size: 32px;
  margin-bottom: 5px;
}
.group-copywriting span {
  font-size: 15px;
  font-weight: 400;
}
.group-data-wrap {
  display: flex;
  z-index: 1;
  position: relative;
}
.group-data-left {
  width: 570px;
  border-right: 1px solid var(--gray02);
  min-height: calc(100vh - 329px);
  background-color: #fff;
  padding: 60px 40px;
  display: flex;
  justify-content: flex-end;
}
.user-info {
  width: 320px;
}
.user-info > p {
  font-weight: 800;
  font-size: 24px;
}
.user-info > span {
  display: block;
  padding-bottom: 34px;
  font-weight: 300;
  font-size: 16px;
  color: #98a8b8;
  border-bottom: 1px solid var(--gray02);
}
.user-group-data {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.user-group-data p:nth-child(1) {
  margin-top: 24px;
  font-weight: 300;
  color: #98a8b8;
  margin-bottom: 10px;
}
.user-group-data p:nth-child(2) {
  font-size: 32px;
  font-weight: 700;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--gray02);
  margin-bottom: 32px;
}
.user-info > label {
  font-size: 13px;
  color: #98a8b8;
  display: block;
  margin-bottom: 8px;
}

.user-info > div {
  display: flex;
  align-items: center;
  gap: 8px;
}
.user-info input {
  width: 236px;
}
.user-info > div button {
  border-radius: 6px;
  background-color: var(--blue);
  color: #fff;
  padding: 12px 24px;
  height: 51px;
}
.group-right {
  padding: 40px 0 0 36px;
}
.section-empty-search-classrooom {
  display: flex;
  justify-content: center;
  margin: 50px 435px 50px 435px;
}
@media screen and (max-width: 1740px) {
  .section-empty-search-classrooom {
    margin: 50px 300px 50px 300px;
  }
}
@media screen and (max-width: 1440px) {
  .section-empty-search-classrooom {
    margin: 50px 150px 50px 150px;
  }
}
.section-empty-classroom {
  display: flex;
  justify-content: center;
  margin: 50px 300px 50px 300px;
}
@media screen and (max-width: 1740px) {
  .section-empty-classroom {
    margin: 50px 150px 50px 150px;
  }
}
@media screen and (max-width: 1440px) {
  .section-empty-classroom {
    margin: 50px 0 50px 0;
  }
}
.section-empty-guest {
  display: flex;
  justify-content: center;
  margin: 50px 300px 50px 300px;
}
@media screen and (max-width: 1740px) {
  .section-empty-guest {
    margin: 50px 150px 50px 150px;
  }
}
@media screen and (max-width: 1440px) {
  .section-empty-guest {
    margin: 50px 0 50px 0;
  }
}
.section-data04 {
  grid-template-columns: 1fr 1fr 1fr;
}
@media screen and (max-width: 1740px) {
  .section-data04 {
    grid-template-columns: 1fr 1fr;
  }
}
.section-data04 li a {
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid var(--gray02);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 24px;
  background-color: #fff;
  height: 100%;
}
.section-data04 li a div {
  display: flex;
  flex-direction: column;
  width: 274px;
}
.data04-name p {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 8px;
}
.data04-name span {
  font-weight: 300;
  color: #98a8b8;
}
.bg2 {
  background: #fbfcff;
}
.bg2 .section-title,
.bg .section-title {
  border-bottom: 1px solid var(--gray02);
}

.align-left {
  margin-top: 30px;
  width: 100%;
  box-sizing: border-box;

  text-align: left;
}
.true {
  background-color: #10d190 !important;
}
.border-true {
  border: 1px solid #10d190 !important;
}
.false {
  background-color: #ff0000 !important;
}
.border-false {
  border: 1px solid #ff0000 !important;
}

/* EmailCheck 컴포넌트 */
.check-message {
  margin-right: auto;
  margin-left: auto;
  padding: 4.5rem 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.check-mesaage-wrapper {
  display: flex;
  flex-direction: column;
}
.check-message h2 {
  text-decoration: none;
  text-align: center;
  font-weight: 700;
  font-size: 1.625rem;
  line-height: 1.35;
  margin: 0px;
}
.check-message p {
  color: inherit;
  font-size: 1rem;
  text-decoration: none;
  text-align: center;
  line-height: 1.5;
  text-underline-position: under;
}
.check-img-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.check-Button {
  display: inline-block;
  padding: 0px 1.375rem;
  appearance: none;
  text-align: left;
  text-decoration: none;
  box-sizing: border-box;
  height: 2.625rem;
  width: auto;
  border-radius: 0.5rem;
  font-weight: 600;
  position: relative;
  line-height: 1;
  font-size: 1rem;
  user-select: none;
  cursor: pointer;
  border: 0.0625rem solid transparent;
  background-color: #4966ff;
  color: rgb(255, 255, 255);
}
.check-Button-inner {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  height: 100%;
  overflow: visible;
  pointer-events: none;
}
.check-Button-label {
  white-space: nowrap;
  height: 100%;
  overflow: hidden;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}
.gpt-comment-small {
  position: absolute;
  display: inline-flex;
  padding: 14px 3px 14px 20px;
  gap: 7px;
  border-radius: 0 16px 16px 16px;
  box-shadow: 0 0 16px rgba(72, 102, 255, 0.2);
  font-weight: 500;
  z-index: 9999;
  background-color: #fff;
}
.gpt-comment {
  position: absolute;
  display: inline-flex;
  padding: 14px 15px 8px 20px;
  gap: 7px;
  border-radius: 0 26px 26px 26px;
  box-shadow: 0 0 16px rgba(72, 102, 255, 0.2);
  font-weight: 500;
  z-index: 9999;
  background-color: #fff;
}
.gpt-hint {
  margin-right: -15px;
}

.gpt-success {
  max-width: 400px;
  min-width: 300px;
  margin: 5px 40px 17px 35px;
}
.gpt-success .container {
  margin-top: -2px;
  /*margin-right: 7px;*/
}
/* 도움 요청 floating 버튼 */
.floating-buttons {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.btn {
  display: flex;
  align-items: center;
  padding: 12px 20px;
  border-radius: 25px;
  color: white;
  text-decoration: none;
  font-family: Arial, sans-serif;
  transition: all 0.2s ease;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  min-width: 140px;
}

.btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(1px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.btn-help {
  background-color: #4f46e5;
}

.btn-help:hover {
  background-color: #4338ca;
}

.btn-help:active {
  background-color: #3730a3;
}

.btn-solve {
  background-color: #2563eb;
}

.btn-solve:hover {
  background-color: #1d4ed8;
}

.btn-solve:active {
  background-color: #1e40af;
}

.btn-complete {
  background-color: #0d9488;
}

.btn-complete:hover {
  background-color: #0f766e;
}

.btn-complete:active {
  background-color: #115e59;
}
.btn-cancel {
  background-color: #f87171;
}

.btn-cancel:hover {
  background-color: #ef4444;
}

.btn-cancel:active {
  background-color: #dc2626;
}
.btn-manual {
  background-color: #9a9a9a;
}
.btn-complete-summit {
  background-color: #959595;
}
.btn img {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  transition: transform 0.2s ease;
}

.btn:active img {
  transform: scale(0.9);
}

.btn.clicked {
  animation: clickEffect 0.4s ease;
}

@keyframes clickEffect {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}

/* 네브바 버튼*/
.nav-button {
  color: #7353ea;
  box-shadow: none;
  height: 38px;
  font-weight: 600;
  font-size: 0.875rem;
  padding: 5px 15px;
  border-radius: 8px;
  line-height: 1.75;
}

.spinner {
  width: 22px;
  height: 22px;
  border: 3px solid #f3f3f3;
  border-top: 3px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.code-container {
  display: flex;
  font-family: "Consolas", monospace;
  background-color: #fafafa;
  border-radius: 4px;
  overflow: scroll;

  font-size: 14px;
  border: 1px solid #e1e4e8;
  margin-top: 13px;

  max-height: 300px;
}

.gpt-line-numbers {
  display: flex;
  flex-direction: column;
  padding: 0.2em 0.5em;
  background-color: #f6f8fa;
  color: #8996a3;
  user-select: none;
  text-align: right;
  border-right: 1px solid #e1e4e8;
}

.code-content {
  flex-grow: 1;
  padding: 0em 1em;

  /*color: #24292e;*/
  position: relative;
}

.line {
  height: 20px;
  line-height: 20px;
}

.ellipsis {
  /*color: #a0a0a0;*/
  text-align: center;
  position: relative;
  margin: 20px 0px;
}

.code-content .ellipsis::before {
  content: "";
  position: absolute;
  left: -1em;
  right: -1em;
  height: 1px;
  background: #e1e4e8;
  top: 50%;
  z-index: 1;
}

.code-content .ellipsis span {
  position: relative;
  z-index: 2;
  background-color: #ffffff;
  padding: 0 8px;
}
.code-content span {
  white-space: pre-wrap;
  margin-top: 2px;
}

.code-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: repeating-linear-gradient(transparent, transparent 24px, #5c5f63 24px, #f6f8fa 25px);
  pointer-events: none;
}

.button-left {
  margin-top: 20px;
  display: flex;
  justify-content: end;
  gap: 6px;
}
.button-left button {
  padding: 5px 20px;
  border-radius: 6px;

  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  border: 1px solid transparent;
  display: flex;
  padding-top: 7px;
}

.button-left .approve {
  background-color: #15a461;
  border-color: #15a461;
  font-weight: 500;
  color: #ffffff;
}
.button-left .approve:hover {
  background-color: #15a461;
}
.button-left .reject {
  background-color: #f54a5b;
  color: white;
}
.button-left .reject:hover {
  background-color: #cf222e;
}
.highlighted-code {
  font-family: monospace;
  background-color: #fafafa;

  border-radius: 5px;
  padding-top: 15px;
  width: 100%;
}
.highlighted-code pre {
  margin: -5px 20px !important;
  padding: 0.3em !important;
  overflow: hidden !important;
}
.instant-correction {
  margin-top: -4px;
  padding: 8px 16px;
  padding-top: 12px;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  width: 108px;
  height: 35px;
  gap: 6px;
  background-color: #5c48fa;
  font-weight: 500;
  color: #ffffff;
}

.view-hint {
  margin-top: -4px;
  padding: 8px 16px;
  padding-top: 12px;
  border-radius: 6px;
  font-size: 14px;
  width: 108px;
  height: 35px;
  cursor: pointer;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  gap: 4px;
  background-color: #ffffff;
  border-color: #5c48fa;
  border-width: 2px;
  font-weight: bolder;
  color: #5c48fa;
}
.gpt-icon {
  position: absolute;
  left: 16px;
  top: 20px;
  width: 25px;
  height: 25px;
}
.gpt-icon-hint {
  position: absolute;
  left: 8px;
  top: 18px;
}
gpt-icon-small {
  position: absolute;
  left: 12px;
  top: 18px;
}

.call-stack-box {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  min-width: 500px;
  min-height: 120px;
  background-color: #f9fafb;
  border: 1px solid var(--gray01, #dddee4);
  border-radius: 0 0 8px 8px;
  border-top: none;
  background: var(--white, #fff);
}
.call-stack-name {
  font-size: 16px;
  font-weight: 600;
}

.var-container {
  display: flex;
  margin-left: 0px;
  align-items: center;
  gap: 40px;
}

.var-container .name {
  font-weight: 600;
  font-size: 20px;
  width: 150px;
  text-align: right;
}

.func-title {
  border-radius: 8px 8px 0px 0px;
  background-color: #f9f9f9;
  width: calc(100% + 2px);
  transform: translateX(-1px);
}
.highlight-func-title {
  background-color: #f5f5fc !important;
}
.func-title span {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  border-radius: 8px 8px 0px 0px;
  border: 1px solid var(--gray01, #dddee4);
  background: #fff;
  padding: 10px 16px 8px 16px;
  border-bottom: none;
  position: relative;
  font-weight: 600;
  transform: translateY(1px);
  margin: 1px;
}
.func-title span::before {
  content: "";
  display: block;
  background-color: #fff;
  width: 100%;
  height: 10px;
  position: absolute;
  bottom: -5px;
  left: 0;
}
.func-title span::after {
  content: "";
  display: block;
  width: 44px;
  height: 21px;
  background: url(/image/img_func.png) no-repeat;
  background-size: 100% 100%;
}

.code-flow-func > .code-flow-title-wrap {
  left: -0.9px;
  top: -46.5px;
  width: 100%;
}
.code-flow-func {
  border-radius: 0px 8px 8px 8px;
}
.code-flow-func.on_active {
  border: 1px solid var(--blue01, #4866ff);
}
.code-flow-func.on_active > .code-flow-title-wrap > .func-title > span {
  border: 1px solid var(--blue01, #4866ff);
  color: var(--blue01, #4866ff);
}
.code-flow-func.on_active > .code-flow-title-wrap > .func-title > span::after {
  background: url(/image/img_func_blue.png) no-repeat;
}
.var-data-wrap {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}
.var-title {
  border-radius: 8px 8px 0px 0px;
  border: 1px solid var(--gray01, #dddee4);
  background: #f5f5fc;
  padding: 8px 12px;
}
.var-title p {
  display: inline-flex;
  padding: 2px 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  background: var(--white, #fff);
  color: var(--black01, #181818);
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.call-stack-box li {
  flex-direction: row;
  gap: 48px;
}
.call-stack-box li p {
  width: 120px;
  text-align: right;
  color: var(--black01, #181818);
  text-align: right;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.call-stack-box li > div {
  display: flex;
  align-items: center;
}
.call-stack-box li > div > span {
  color: var(--black01, #181818);
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.call-stack-box li.right-arrow {
  align-items: flex-start;
}
.call-stack-box li.right-arrow p {
  margin-top: 30px;
  position: relative;
}
.call-stack-box li.right-arrow p::after {
  content: "";
  width: 24px;
  height: 24px;
  display: block;
  position: absolute;
  right: -37px;
  top: -3px;
  background: url(/image/icon_right_arrow3.svg) no-repeat;
}
.var-data table {
  border-radius: 4px;
  overflow: hidden;
}
.var-data tr * {
  text-align: center;
  padding: 4px 20px;
}
.var-data th {
  background: #565656;
  color: #fff;
}
.var-data th + th {
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}
.var-data td {
  border: 1px solid var(--gray02, #eaeaea);
}
.var-data > span {
  display: inline-block;
  min-width: 40px;
  min-width: 40px;
  border-radius: 4px;
  background-color: #565656;
  color: #fff;
  padding: 8px 15px;
  font-weight: 600;
  position: relative;
}
.var-data > span > span {
  position: absolute;
  bottom: -28px;
  color: rgba(24, 24, 24, 0.3);
  left: 50%;
  text-wrap: nowrap;
  transform: translateX(-50%);
}

.nav-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.feedback-btn {
  padding: 8px 16px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #666;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s;
  margin-right: 20px;
}

.feedback-btn:hover {
  background-color: #f5f5f5;
}
.login-header {
  align-items: center;
  display: flex;
  flex-direction: row;
  padding: 8px 16px;
}
.onboarding-container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: #121212;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons-section {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.tutorial-button.active {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  z-index: 1001;
  box-sizing: border-box;
}

.tutorial-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.tutorial-modal {
  position: absolute;
  background-color: white;
  border-radius: 10px;
  padding: 30px;
  width: 90%;
  max-width: 500px;
  text-align: center;
  z-index: 9999;
}

.tutorial-content h2 {
  margin-bottom: 15px;
  color: #333;
}

.tutorial-content p {
  color: #666;
  margin-bottom: 20px;
}

.tutorial-navigation {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.nav-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.nav-button.prev {
  background-color: #f0f0f0;
  color: #333;
}

.nav-button.next {
  background-color: #007bff;
  color: white;
}

.step-indicators {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.step-indicator {
  width: 10px;
  height: 10px;
  background-color: #ccc;
  border-radius: 50%;
  margin: 0 5px;
  transition: background-color 0.3s;
}

.step-indicator.active {
  background-color: #007bff;
}
.controller {
  background-color: white;
}
