@import url("https://fonts.googleapis.com/css2?family=Inder&display=swap");
@import url(./font.css);
@import url(./grid.css);
* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
}
/* 모드요소에 적용되는 속성 정의 */
:root {
  /* font-family: "Noto Sans KR", "Helvetica Neue", Helvetica, Arial, sans-serif; */
  font-family: "Pretendard", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  cursor: default;
  line-height: 1.5;
  overflow-wrap: break-word;
  word-break: break-word;
  tab-size: 4;

  --black: #181818;
  --white: #fff;
  --blue: #4866ff;
  --gray01: #dddee4;
  --bg01: #fcfcfc;
  --bg02: #f7f7f7;
}
:after,
:before {
  box-sizing: border-box;
  flex-shrink: 0;
}
.white-text {
  color: #f1f1f1;
}
html,
body {
  margin: 0; /* 기본 마진 제거 */
  overflow-x: hidden;
}
section {
  width: 100%;
}
.iframe-form {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
iframe {
  border: 0;
}
img,
picture,
video,
canvas,
svg {
  display: block;
}
button {
  background: none;
  border: 0;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: inherit;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ul,
ol {
  list-style: none;
}
/* skip */
.skip {
  display: block;
  height: 1px;
  width: 1px;
  margin: 0 -1px -1px 0;
  padding: 0;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  background-color: #fff;
  z-index: 9999;
  position: relative;
}
.skip:hover,
.skip:active,
.skip:focus {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 5px 0;
  text-indent: 10px;
  font-weight: bold;
  font-size: 12px;
  color: #333;
  line-height: 1;
  text-decoration: none !important;
  position: relative;
  text-align: center;
  box-shadow: 0 0 0 1px #000 inset;
}
/* 스크롤 */
